ul.game(id="#{game._id}", class="#{game.status}")
  li.date
    | #{helpers.getFullDate(new Date(game.date))}
  li.time
    = game.time
  li.price
    | $#{game.price}
  - if (admin)
    li.price
      - if (game.stubhub)
        | SH Y
      - else
        | SH N
  - else
    - if (game.seats.length < 1 || game.closed === "Y")
      li.seat
        | No Seats Available
    - var section = 0;
    - var row = 0;
    - if (game.closed !== "Y")
      - each seat in game.seats
        li.seat
          - if (section != seat.section)
            | Section #{seat.section} - Row #{seat.row} [Seat #{seat.seat}]
          - if (section == seat.section)
            - if (row == seat.row)
              | [Seat #{seat.seat}]
            - if (row != seat.row)
              | Row #{seat.row} [Seat #{seat.seat}]
        - section = seat.section;
        - row = seat.row;
  - if (admin && game.closed === "Y")
    li.seat
      | Game is not available.
  - else if (admin)
    li.seat
      | #{game.seats.length} Seats
  - if (admin)
    li.approve-reject
      - if (game.status !== "approved")
        a.approve(href="#{helpers.appendBaseURL('admin/', 'game/' + game._id + '/approve/')}") approve
      - if (game.status !== "approved" && game.status !== "rejected")
        |  | 
      - if (game.status !== "rejected")
        a.reject(href="#{helpers.appendBaseURL('admin/', 'game/' + game._id + '/reject/')}") reject
    li
      - each tier in pricing
        - if (tier._id == game.priceid)
          | #{tier.shortname} |
        - if (tier._id != game.priceid)
          a.setprice(href="#{helpers.appendBaseURL('api/', 'set/' + game._id + '/price/'+ tier._id +'/')}") #{tier.shortname} |
  li.request
    - var gameURL = helpers.getDateForURL(game.date);
    - var rootURL = "";
    - if (admin)
      - rootURL = "admin/";
    span
      - var reqLinkText = "Request Game";
      - if (admin || game.closed === "Y")
        - reqLinkText = "View Game";
      a.view(href="#{helpers.appendBaseURL(rootURL, 'game/' + gameURL + '/')}") #{reqLinkText}
    - if (admin)
      |  - 
      - if (game.closed !== "Y")
        a.close(href="#{helpers.appendBaseURL(rootURL, 'game/close/' + game._id +'/')}") Close
      - if (game.closed !== "N")
        a.open(href="#{helpers.appendBaseURL(rootURL, 'game/' + game._id + '/open/')}") Open
  .clear
