ul.game(id="#{game._id}", class="#{game.status}")
  li.date
    = helpers.getDayOfDate(new Date(game.date));
  li.time
    = helpers.getDayOfWeekOfDate(new Date(game.date + " " + game.time)) + " @ " + game.time;
  - each seat in game.seats
    li.seat
      | S.#{seat.section}R.#{seat.row}S.#{seat.seat} - $#{seat.price}
  - if (admin)
    li.seat
      a(href='#add-seat') Add Seat
      |  |
    li.approve-reject
      - if (game.status !== "approved")
        a.approve(href="#{helpers.urlJoin(path, 'game/' + game._id + '/approve/')}") approve
      - if (game.status !== "approved" && game.status !== "rejected")
        |  | 
      - if (game.status !== "rejected")
        a.reject(href="#{helpers.urlJoin(path, 'game/' + game._id + '/reject/')}") reject
