// globals
- var CURRENT_MONTH = (new Date()).getMonth();
- var CURRENT_DATE = (new Date()).getDate();
- var CURRENT_YEAR = (new Date()).getYear();

- if (games.length < 1)
  | No games are available.

- var i = 0;
- var game = games[i];
- while (game)
  - var date = new Date(game.date);
  - var month = date.getMonth();
  - var year = date.getYear();
  - var month_name = helpers.getMonthOfDate(date);
  - var shouldHideMonth = (year == CURRENT_YEAR) && (month < CURRENT_MONTH);
  div.month(id='#{month_name}')
    h1(class="#{(shouldHideMonth && 'hiding') || ''}") #{month_name} 2012
    - while (game && month === (new Date(game.date)).getMonth())
      - var opponent = game.opponent;
      .series(class="#{(shouldHideMonth && 'hidden') || ''}")
        h1= opponent
        - while (game && opponent === game.opponent)
          != partial('partials/game', { game: game })
          - game = games[++i];
          div.clear
