div#requests
  table
    tr
      td.bold
        | Requests:
      td
        - if (game.closed === "Y")
          | This game has already been sold.
        - if (game.closed !== "Y")
          - if (requests.length < 1)
            | No requests.
          - if (requests.length > 0)
            - var reqNum = 1;
            - each req in requests
              - var reqDate = new Date(req.date);
              tr
                td
                td
                  | #{reqNum} - #{req.name} [#{reqDate}]
                  - if (admin)
                    a.delreq(href="#{helpers.appendBaseURL('admin/', 'game/' + game._id + '/requests/delete/' + req.rid + '/')}") [Delete]
              - reqNum = reqNum + 1;
    tr
      td(colspan=2)
        a.clearrequests(href="#{helpers.appendBaseURL('requests/', 'clear/' + game._id + '/')}") clear requests
