div.individual
  div.gameid
    = game._id;

  table
    tr  
      td.bold
        | Opponent:
      td
        = game.opponent;
    tr
      td.bold
        | Day Of Week:
      td
        = helpers.getDayOfWeekOfDate(new Date(game.date + " " + game.time));
    tr
      td.bold
        | Time:
      td
        = game.time;
        
    tr
      td.bold
        | Status:
      td.status
        = game.status
    tr
      td.bold
        | Seats:
      - if (game && game.seats && game.seats.length < 1)
        td
          | No Seats Available
      - if (game && game.seats && game.seats.length > 0)
        td
          - each seat in game.seats
            | S.#{seat.section}R.#{seat.row}S.#{seat.seat} - $#{seat.price}
    - if (admin)
      tr
        td
          a.viewapprove(href="#{helpers.urlJoin('/admin/', 'game/' + game._id + '/approve/')}") approve
        td
          a.viewreject(href="#{helpers.urlJoin('/admin/', 'game/' + game._id + '/reject/')}") reject
  br
  hr
  br
  - if (related.games.length > 0)
    span
      | Related Games versus #{game.opponent}
    table
      - each rel in related.games
        - if (rel._id != game._id)
          tr
            td
              - var gameURL = helpers.getDateForURL(rel.date);
              - var dayOfWeek = helpers.getDayOfWeekOfDate(new Date(rel.date + " " + rel.time));
              - var adminPath = ( admin ? '/admin' : '');
              a.view(href=adminPath + "/game/" + gameURL + "/") #{dayOfWeek} #{rel.date}
  - else
    span
      | No related games.